{% load static %}
<section class="client_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Avaliações
        </h2>
        <p>
          Mesmo um pouco crível. Se você for usar uma passagem de Lorem Ipsum
        </p>
      </div>
    </div>
    <div class="container px-0">
      <div id="customCarousel2" class="carousel  slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="box">
                    {% for c in clientes %}
                    <div class="img-box">
                      <img src="{% static "images/client.jpg" %}" alt="">
                    </div>
                    <div class="detail-box">
                      <div class="client_info">
                        <div class="client_name">
                          <h5>
                            {{ c.nome }}
                          </h5>
                          <h6>
                            {{ c.plano }}
                          </h6>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        {{ c.avaliacao }}
                      </p>
                    </div>
                    {% endfor %}
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>