{% extends "app/pages/base.html" %}
{% load static %}
{% block content %}

  <!-- service section -->
    {% include "app/partials/servico.html" %}
  <!-- end service section -->

  <!-- about section -->
    {% include "app/partials/sobre.html" %}
  <!-- end about section -->

  <!-- server section -->
    {% include "app/partials/servidor.html" %}
  <!-- end server section -->

  <!-- price section -->
    {% include "app/partials/preco.html" %}
  <!-- price section -->

  <!-- client section -->
    {% include "app/partials/cliente.html" %}
  <!-- end client section -->

  <!-- contact section -->
    {% include "app/partials/contato.html" %}
  <!-- end contact section -->

  <!-- info section -->
    {% include "app/partials/info.html" %}
  <!-- end info section -->


  <!-- footer section -->
    {% include "app/partials/footer.html" %}
  <!-- footer section -->

  {% endblock content %}